@import url('https://fonts.googleapis.com/css?family=Open+Sans|Encode+Sans+Condensed');

@import url('styles/RegisterUser.css');
@import url('styles/Login.css');
@import url('styles/Header.css');
@import url('styles/TodoItem.css');
@import url('styles/TodoApp.css');

* {
  box-sizing: border-box;
}

body, input, button {
  font-family: 'Open Sans', sans-serif;
}

body {
  background: #1abc9c;
}

#root {
  max-width: 100%;
  width: 800px;
  margin: 2em auto;
  background: white;
  padding: 1em;
}

div#root {
  box-shadow: 10px 10px  rgba(0, 0, 0, 0.1);
}

input, button, .date-picker {
  padding: 0.5em;
  margin: 2px;
  display: inline-block;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.19);
}
input, button, .date-picker {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
input, .date-picker {
  border: 2px solid #1abc9c;
}

button, .btn-submit {
  background: #1abc9c;
  color: #fff;
  border: none;
  padding: 0.7em;
  cursor: pointer;
}

button:last-of-type {
  margin-right: 0;
}