@import url('https://fonts.googleapis.com/css?family=Open+Sans|Encode+Sans+Condensed');

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-family: 'Encode Sans Condensed', cursive;
  color: #1abc9c;
  font-size: 2.25em;
}

.btn-logout {
  margin-left: 10px;
  padding: 10px;
  border: 2px dashed #1abc9c
}