fieldset {
  width: 100%;
  padding: 10px;
} 
.form-items-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-legend, .username-label, .password-label {
  text-transform: uppercase;
  margin: 0 5px 0 5px;
}

.btn-submit-form {
  margin-top: 15px;
}

.link-to-register-text {
  text-align: center;
}

.error-message-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.error-message {
  color: #f15a55;
  padding: 10px;
  list-style: none;
}
