fieldset {
  width: 100%;
  padding: 10px;
} 
.register-user-items-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.register-user-legend, .username, .password {
  text-transform: uppercase;
  margin: 0 5px 0 5px;
}

.btn-submit-form {
  margin-top: 15px;
}

.link-to-register {
  text-decoration: none;
  font-weight: bold;
}

.error-message-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.error-message {
  color: #f15a55;
  padding: 10px;
  list-style: none;
}
