td:first-of-type {
  width: 100%;
}

td:last-of-type {
  text-align: right;
}

td {
  padding: 10px 0;
}

table {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  td {
    display: flex;  
    flex-wrap: wrap;
    flex-direction: row;
  }
  button {
    flex: 1;
  }
  .todo-not-completed, .todo-completed {
    word-wrap: break-word;
  }
}

.todo-not-completed {
  color: #CCC;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: line-through;
}

.todo-completed {
  color: #1abc9c;
  font-size: 1.5em;
  font-weight: bold;
}