p.first-task-message {
  padding: 10px;
  color: #222;
  background: #ecf0f1;
  text-align: center;
}

form  {
  display: flex;
}

form.form-container {
  border-bottom: 5px solid #ecf0f1;
  padding: 1em 0;
}

@media only screen and (max-width: 600px) {
   form, tbody {
    flex-wrap: wrap;
  }
}

.btn-delete, .btn-clear {
  background-color: #f15a55;
}